SISFORM_WEB/Connected Services/ServicioWcf/Servicio1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://cedepasws.azurewebsites.net/Servicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://cedepasws.azurewebsites.net/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
      <xsd:import schemaLocation="https://cedepasws.azurewebsites.net/Servicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutenticarUsuario_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbigeo" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbigeoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeo_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:TrabajadorOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrabajadorOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajador_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajador" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajador_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q4:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_EmpresaOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_EmpresaOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpresaOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EmpresaOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q5:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresa_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q6:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ProgresoEmpresaOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgresoEmpresaOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_ProgresoEmpresaOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgresoEmpresaOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ProgresoEmpresaOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q7:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgresoEmpresa" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgresoEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresa_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q8:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio1Operacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Criterio1Operacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio1Operacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Criterio1OperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio1Operacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q9:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio1_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio1" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio1_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio1Response" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio1_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q10:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio2Operacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Criterio2Operacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio2Operacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Criterio2OperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio2Operacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q11:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio2_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio2" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio2Response" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio2_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q12:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio3Operacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Criterio3Operacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio3Operacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:Criterio3OperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_Criterio3Operacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q13:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio3_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio3" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio3_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCriterio3Response" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCriterio3_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q14:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorPuestoOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:TrabajadorPuestoOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorPuestoOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:TrabajadorPuestoOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_TrabajadorPuestoOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q15:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_PruebasCovidOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:PruebasCovidOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_PruebasCovidOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:PruebasCovidOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_PruebasCovidOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q16:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_CtrlAccionOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:CtrlAccionOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_CtrlAccionOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CtrlAccionOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_CtrlAccionOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q17:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaOperacion_InputMessage">
    <wsdl:part name="parameters" element="tns:IncidenciaOperacion" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaOperacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncidenciaOperacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaOperacion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q18:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaImagen_InputMessage">
    <wsdl:part name="parameters" element="tns:IncidenciaImagen" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaImagen_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncidenciaImagenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_IncidenciaImagen_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q19:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeoCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbigeoCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeoCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbigeoCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbigeoCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q20:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoDocumentoCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDocumentoCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoDocumentoCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoDocumentoCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoDocumentoCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q21:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajadorCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajadorCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajadorCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTrabajadorCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTrabajadorCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q22:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerTrabajadorPorIdCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTrabajadorPorIdCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerTrabajadorPorIdCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTrabajadorPorIdCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerTrabajadorPorIdCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q23:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerPruebaCovidPorIdCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPruebaCovidPorIdCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerPruebaCovidPorIdCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPruebaCovidPorIdCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerPruebaCovidPorIdCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q24:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPuestoTrabajoCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPuestoTrabajoCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPuestoTrabajoCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPuestoTrabajoCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPuestoTrabajoCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q25:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q26:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q27:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaPorTipoCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaPorTipoCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaPorTipoCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpresaPorTipoCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEmpresaPorTipoCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q28:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEmpresaCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoEmpresaCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEmpresaCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoEmpresaCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEmpresaCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q29:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgresoEmpresaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgresoEmpresaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgresoEmpresaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q30:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpresaPorIdCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaPorIdCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpresaPorIdCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEmpresaPorIdCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerEmpresaPorIdCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q31:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerporDniCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerporDniCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerporDniCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerporDniCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerporDniCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q32:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdTrabajadorPorIdUsuarioCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdTrabajadorPorIdUsuarioCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q33:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgramacionPruebasCovidCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgramacionPruebasCovidCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgramacionPruebasCovidCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProgramacionPruebasCovidCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarProgramacionPruebasCovidCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q34:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPruebasCovidCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPruebasCovidCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPruebasCovidCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPruebasCovidCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarPruebasCovidCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q35:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarResultadoPruebaCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarResultadoPruebaCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarResultadoPruebaCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResultadoPruebaCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarResultadoPruebaCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q36:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarReporteCovidCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReporteCovidCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarReporteCovidCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReporteCovidCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarReporteCovidCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q37:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutorizacionUsuarioCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:AutorizacionUsuarioCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutorizacionUsuarioCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutorizacionUsuarioCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AutorizacionUsuarioCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q38:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCtrlModulosCboCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCtrlModulosCboCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCtrlModulosCboCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCtrlModulosCboCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCtrlModulosCboCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q39:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEventoCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoEventoCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEventoCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoEventoCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoEventoCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q40:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCategoriaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategoriaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCategoriaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCategoriaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarCategoriaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q41:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBloqueCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarBloqueCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBloqueCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarBloqueCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBloqueCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q42:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEspecificacionCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspecificacionCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEspecificacionCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEspecificacionCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEspecificacionCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q43="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q43:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarZonaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarZonaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarZonaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarZonaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarZonaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q44:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbicacionCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbicacionCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbicacionCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUbicacionCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarUbicacionCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q45:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBarreraCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarBarreraCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBarreraCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarBarreraCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarBarreraCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q46="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q46:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoBarreraCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoBarreraCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoBarreraCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoBarreraCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoBarreraCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q47="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q47:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarRangoCumplimientoCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarRangoCumplimientoCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarRangoCumplimientoCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarRangoCumplimientoCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarRangoCumplimientoCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q48:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoProgramacionIncidenciaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoProgramacionIncidenciaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoProgramacionIncidenciaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoProgramacionIncidenciaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoProgramacionIncidenciaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q49="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q49:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEstadoIncidenciaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEstadoIncidenciaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEstadoIncidenciaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEstadoIncidenciaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarEstadoIncidenciaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q50:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciasActCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarIncidenciasActCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciasActCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarIncidenciasActCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciasActCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q51:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIncidenciaPorIdCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIncidenciaPorIdCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q52:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIncidenciaPorIdParaSolucionCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIncidenciaPorIdParaSolucionCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q53="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q53:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerImagenPorIdIncidenciaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImagenPorIdIncidenciaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerImagenPorIdIncidenciaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerImagenPorIdIncidenciaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerImagenPorIdIncidenciaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q54:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciaParaSolucionCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarIncidenciaParaSolucionCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciaParaSolucionCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarIncidenciaParaSolucionCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarIncidenciaParaSolucionCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q55="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q55:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoSolucionIncidenciaCsv_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoSolucionIncidenciaCsv" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoSolucionIncidenciaCsv_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTipoSolucionIncidenciaCsvResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ListarTipoSolucionIncidenciaCsv_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q56="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q56:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_RegistrarSolucion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolucion" />
  </wsdl:message>
  <wsdl:message name="IServicio_RegistrarSolucion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarSolucionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_RegistrarSolucion_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q57:Error" />
  </wsdl:message>
  <wsdl:message name="IServicio_ConstruirCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicio_ConstruirCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConstruirCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ConstruirCorreo_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q58="http://schemas.datacontract.org/2004/07/Dominio" name="detail" element="q58:Error" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AutenticarUsuario" message="tns:IServicio_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AutenticarUsuarioResponse" message="tns:IServicio_AutenticarUsuario_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/AutenticarUsuarioErrorFault" name="ErrorFault" message="tns:IServicio_AutenticarUsuario_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUbigeo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarUbigeo" message="tns:IServicio_ListarUbigeo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarUbigeoResponse" message="tns:IServicio_ListarUbigeo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarUbigeoErrorFault" name="ErrorFault" message="tns:IServicio_ListarUbigeo_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrabajadorOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/TrabajadorOperacion" message="tns:IServicio_TrabajadorOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/TrabajadorOperacionResponse" message="tns:IServicio_TrabajadorOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/TrabajadorOperacionErrorFault" name="ErrorFault" message="tns:IServicio_TrabajadorOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTrabajador" message="tns:IServicio_ListarTrabajador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTrabajadorResponse" message="tns:IServicio_ListarTrabajador_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTrabajadorErrorFault" name="ErrorFault" message="tns:IServicio_ListarTrabajador_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpresaOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EmpresaOperacion" message="tns:IServicio_EmpresaOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EmpresaOperacionResponse" message="tns:IServicio_EmpresaOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/EmpresaOperacionErrorFault" name="ErrorFault" message="tns:IServicio_EmpresaOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEmpresa" message="tns:IServicio_ListarEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaResponse" message="tns:IServicio_ListarEmpresa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaErrorFault" name="ErrorFault" message="tns:IServicio_ListarEmpresa_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgresoEmpresaOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ProgresoEmpresaOperacion" message="tns:IServicio_ProgresoEmpresaOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ProgresoEmpresaOperacionResponse" message="tns:IServicio_ProgresoEmpresaOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ProgresoEmpresaOperacionErrorFault" name="ErrorFault" message="tns:IServicio_ProgresoEmpresaOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgresoEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresa" message="tns:IServicio_ListarProgresoEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresaResponse" message="tns:IServicio_ListarProgresoEmpresa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresaErrorFault" name="ErrorFault" message="tns:IServicio_ListarProgresoEmpresa_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Criterio1Operacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Criterio1Operacion" message="tns:IServicio_Criterio1Operacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/Criterio1OperacionResponse" message="tns:IServicio_Criterio1Operacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/Criterio1OperacionErrorFault" name="ErrorFault" message="tns:IServicio_Criterio1Operacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio1">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarCriterio1" message="tns:IServicio_ListarCriterio1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarCriterio1Response" message="tns:IServicio_ListarCriterio1_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarCriterio1ErrorFault" name="ErrorFault" message="tns:IServicio_ListarCriterio1_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Criterio2Operacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Criterio2Operacion" message="tns:IServicio_Criterio2Operacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/Criterio2OperacionResponse" message="tns:IServicio_Criterio2Operacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/Criterio2OperacionErrorFault" name="ErrorFault" message="tns:IServicio_Criterio2Operacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarCriterio2" message="tns:IServicio_ListarCriterio2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarCriterio2Response" message="tns:IServicio_ListarCriterio2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarCriterio2ErrorFault" name="ErrorFault" message="tns:IServicio_ListarCriterio2_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Criterio3Operacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/Criterio3Operacion" message="tns:IServicio_Criterio3Operacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/Criterio3OperacionResponse" message="tns:IServicio_Criterio3Operacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/Criterio3OperacionErrorFault" name="ErrorFault" message="tns:IServicio_Criterio3Operacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio3">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarCriterio3" message="tns:IServicio_ListarCriterio3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarCriterio3Response" message="tns:IServicio_ListarCriterio3_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarCriterio3ErrorFault" name="ErrorFault" message="tns:IServicio_ListarCriterio3_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TrabajadorPuestoOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/TrabajadorPuestoOperacion" message="tns:IServicio_TrabajadorPuestoOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/TrabajadorPuestoOperacionResponse" message="tns:IServicio_TrabajadorPuestoOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/TrabajadorPuestoOperacionErrorFault" name="ErrorFault" message="tns:IServicio_TrabajadorPuestoOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PruebasCovidOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/PruebasCovidOperacion" message="tns:IServicio_PruebasCovidOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/PruebasCovidOperacionResponse" message="tns:IServicio_PruebasCovidOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/PruebasCovidOperacionErrorFault" name="ErrorFault" message="tns:IServicio_PruebasCovidOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CtrlAccionOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/CtrlAccionOperacion" message="tns:IServicio_CtrlAccionOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/CtrlAccionOperacionResponse" message="tns:IServicio_CtrlAccionOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/CtrlAccionOperacionErrorFault" name="ErrorFault" message="tns:IServicio_CtrlAccionOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncidenciaOperacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/IncidenciaOperacion" message="tns:IServicio_IncidenciaOperacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/IncidenciaOperacionResponse" message="tns:IServicio_IncidenciaOperacion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/IncidenciaOperacionErrorFault" name="ErrorFault" message="tns:IServicio_IncidenciaOperacion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncidenciaImagen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/IncidenciaImagen" message="tns:IServicio_IncidenciaImagen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/IncidenciaImagenResponse" message="tns:IServicio_IncidenciaImagen_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/IncidenciaImagenErrorFault" name="ErrorFault" message="tns:IServicio_IncidenciaImagen_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUbigeoCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarUbigeoCsv" message="tns:IServicio_ListarUbigeoCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarUbigeoCsvResponse" message="tns:IServicio_ListarUbigeoCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarUbigeoCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarUbigeoCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDocumentoCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoDocumentoCboCsv" message="tns:IServicio_ListarTipoDocumentoCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoDocumentoCboCsvResponse" message="tns:IServicio_ListarTipoDocumentoCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoDocumentoCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoDocumentoCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajadorCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTrabajadorCsv" message="tns:IServicio_ListarTrabajadorCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTrabajadorCsvResponse" message="tns:IServicio_ListarTrabajadorCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTrabajadorCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTrabajadorCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTrabajadorPorIdCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerTrabajadorPorIdCsv" message="tns:IServicio_ObtenerTrabajadorPorIdCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerTrabajadorPorIdCsvResponse" message="tns:IServicio_ObtenerTrabajadorPorIdCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerTrabajadorPorIdCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerTrabajadorPorIdCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPruebaCovidPorIdCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerPruebaCovidPorIdCsv" message="tns:IServicio_ObtenerPruebaCovidPorIdCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerPruebaCovidPorIdCsvResponse" message="tns:IServicio_ObtenerPruebaCovidPorIdCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerPruebaCovidPorIdCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerPruebaCovidPorIdCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPuestoTrabajoCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarPuestoTrabajoCboCsv" message="tns:IServicio_ListarPuestoTrabajoCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarPuestoTrabajoCboCsvResponse" message="tns:IServicio_ListarPuestoTrabajoCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarPuestoTrabajoCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarPuestoTrabajoCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCboCsv" message="tns:IServicio_ListarEmpresaCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCboCsvResponse" message="tns:IServicio_ListarEmpresaCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarEmpresaCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCsv" message="tns:IServicio_ListarEmpresaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCsvResponse" message="tns:IServicio_ListarEmpresaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarEmpresaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaPorTipoCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaPorTipoCboCsv" message="tns:IServicio_ListarEmpresaPorTipoCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaPorTipoCboCsvResponse" message="tns:IServicio_ListarEmpresaPorTipoCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEmpresaPorTipoCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarEmpresaPorTipoCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoEmpresaCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoEmpresaCboCsv" message="tns:IServicio_ListarTipoEmpresaCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoEmpresaCboCsvResponse" message="tns:IServicio_ListarTipoEmpresaCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoEmpresaCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoEmpresaCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgresoEmpresaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresaCsv" message="tns:IServicio_ListarProgresoEmpresaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresaCsvResponse" message="tns:IServicio_ListarProgresoEmpresaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarProgresoEmpresaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarProgresoEmpresaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresaPorIdCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpresaPorIdCsv" message="tns:IServicio_ObtenerEmpresaPorIdCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpresaPorIdCsvResponse" message="tns:IServicio_ObtenerEmpresaPorIdCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerEmpresaPorIdCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerEmpresaPorIdCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerporDniCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerporDniCsv" message="tns:IServicio_ObtenerporDniCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerporDniCsvResponse" message="tns:IServicio_ObtenerporDniCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerporDniCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerporDniCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdTrabajadorPorIdUsuarioCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerIdTrabajadorPorIdUsuarioCsv" message="tns:IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerIdTrabajadorPorIdUsuarioCsvResponse" message="tns:IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerIdTrabajadorPorIdUsuarioCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerIdTrabajadorPorIdUsuarioCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionPruebasCovidCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarProgramacionPruebasCovidCsv" message="tns:IServicio_ListarProgramacionPruebasCovidCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarProgramacionPruebasCovidCsvResponse" message="tns:IServicio_ListarProgramacionPruebasCovidCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarProgramacionPruebasCovidCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarProgramacionPruebasCovidCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPruebasCovidCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarPruebasCovidCsv" message="tns:IServicio_ListarPruebasCovidCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarPruebasCovidCsvResponse" message="tns:IServicio_ListarPruebasCovidCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarPruebasCovidCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarPruebasCovidCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarResultadoPruebaCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarResultadoPruebaCboCsv" message="tns:IServicio_ListarResultadoPruebaCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarResultadoPruebaCboCsvResponse" message="tns:IServicio_ListarResultadoPruebaCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarResultadoPruebaCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarResultadoPruebaCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReporteCovidCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarReporteCovidCsv" message="tns:IServicio_ListarReporteCovidCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarReporteCovidCsvResponse" message="tns:IServicio_ListarReporteCovidCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarReporteCovidCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarReporteCovidCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutorizacionUsuarioCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AutorizacionUsuarioCsv" message="tns:IServicio_AutorizacionUsuarioCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AutorizacionUsuarioCsvResponse" message="tns:IServicio_AutorizacionUsuarioCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/AutorizacionUsuarioCsvErrorFault" name="ErrorFault" message="tns:IServicio_AutorizacionUsuarioCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCtrlModulosCboCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarCtrlModulosCboCsv" message="tns:IServicio_ListarCtrlModulosCboCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarCtrlModulosCboCsvResponse" message="tns:IServicio_ListarCtrlModulosCboCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarCtrlModulosCboCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarCtrlModulosCboCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoEventoCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoEventoCsv" message="tns:IServicio_ListarTipoEventoCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoEventoCsvResponse" message="tns:IServicio_ListarTipoEventoCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoEventoCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoEventoCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCategoriaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarCategoriaCsv" message="tns:IServicio_ListarCategoriaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarCategoriaCsvResponse" message="tns:IServicio_ListarCategoriaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarCategoriaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarCategoriaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarBloqueCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarBloqueCsv" message="tns:IServicio_ListarBloqueCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarBloqueCsvResponse" message="tns:IServicio_ListarBloqueCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarBloqueCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarBloqueCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEspecificacionCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEspecificacionCsv" message="tns:IServicio_ListarEspecificacionCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEspecificacionCsvResponse" message="tns:IServicio_ListarEspecificacionCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEspecificacionCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarEspecificacionCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarZonaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarZonaCsv" message="tns:IServicio_ListarZonaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarZonaCsvResponse" message="tns:IServicio_ListarZonaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarZonaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarZonaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUbicacionCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarUbicacionCsv" message="tns:IServicio_ListarUbicacionCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarUbicacionCsvResponse" message="tns:IServicio_ListarUbicacionCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarUbicacionCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarUbicacionCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarBarreraCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarBarreraCsv" message="tns:IServicio_ListarBarreraCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarBarreraCsvResponse" message="tns:IServicio_ListarBarreraCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarBarreraCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarBarreraCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoBarreraCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoBarreraCsv" message="tns:IServicio_ListarTipoBarreraCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoBarreraCsvResponse" message="tns:IServicio_ListarTipoBarreraCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoBarreraCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoBarreraCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarRangoCumplimientoCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarRangoCumplimientoCsv" message="tns:IServicio_ListarRangoCumplimientoCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarRangoCumplimientoCsvResponse" message="tns:IServicio_ListarRangoCumplimientoCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarRangoCumplimientoCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarRangoCumplimientoCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoProgramacionIncidenciaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoProgramacionIncidenciaCsv" message="tns:IServicio_ListarTipoProgramacionIncidenciaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoProgramacionIncidenciaCsvResponse" message="tns:IServicio_ListarTipoProgramacionIncidenciaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoProgramacionIncidenciaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoProgramacionIncidenciaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEstadoIncidenciaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarEstadoIncidenciaCsv" message="tns:IServicio_ListarEstadoIncidenciaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarEstadoIncidenciaCsvResponse" message="tns:IServicio_ListarEstadoIncidenciaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarEstadoIncidenciaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarEstadoIncidenciaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarIncidenciasActCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciasActCsv" message="tns:IServicio_ListarIncidenciasActCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciasActCsvResponse" message="tns:IServicio_ListarIncidenciasActCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciasActCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarIncidenciasActCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIncidenciaPorIdCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdCsv" message="tns:IServicio_ObtenerIncidenciaPorIdCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdCsvResponse" message="tns:IServicio_ObtenerIncidenciaPorIdCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerIncidenciaPorIdCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIncidenciaPorIdParaSolucionCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdParaSolucionCsv" message="tns:IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdParaSolucionCsvResponse" message="tns:IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdParaSolucionCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerIncidenciaPorIdParaSolucionCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerImagenPorIdIncidenciaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerImagenPorIdIncidenciaCsv" message="tns:IServicio_ObtenerImagenPorIdIncidenciaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerImagenPorIdIncidenciaCsvResponse" message="tns:IServicio_ObtenerImagenPorIdIncidenciaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ObtenerImagenPorIdIncidenciaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ObtenerImagenPorIdIncidenciaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarIncidenciaParaSolucionCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciaParaSolucionCsv" message="tns:IServicio_ListarIncidenciaParaSolucionCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciaParaSolucionCsvResponse" message="tns:IServicio_ListarIncidenciaParaSolucionCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarIncidenciaParaSolucionCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarIncidenciaParaSolucionCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoSolucionIncidenciaCsv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ListarTipoSolucionIncidenciaCsv" message="tns:IServicio_ListarTipoSolucionIncidenciaCsv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ListarTipoSolucionIncidenciaCsvResponse" message="tns:IServicio_ListarTipoSolucionIncidenciaCsv_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ListarTipoSolucionIncidenciaCsvErrorFault" name="ErrorFault" message="tns:IServicio_ListarTipoSolucionIncidenciaCsv_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSolucion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/RegistrarSolucion" message="tns:IServicio_RegistrarSolucion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/RegistrarSolucionResponse" message="tns:IServicio_RegistrarSolucion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/RegistrarSolucionErrorFault" name="ErrorFault" message="tns:IServicio_RegistrarSolucion_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConstruirCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ConstruirCorreo" message="tns:IServicio_ConstruirCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ConstruirCorreoResponse" message="tns:IServicio_ConstruirCorreo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicio/ConstruirCorreoErrorFault" name="ErrorFault" message="tns:IServicio_ConstruirCorreo_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicio/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarUbigeo">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarUbigeo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrabajadorOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/TrabajadorOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajador">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTrabajador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EmpresaOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/EmpresaOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProgresoEmpresaOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/ProgresoEmpresaOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarProgresoEmpresa">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarProgresoEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Criterio1Operacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/Criterio1Operacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio1">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarCriterio1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Criterio2Operacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/Criterio2Operacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio2">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarCriterio2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Criterio3Operacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/Criterio3Operacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCriterio3">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarCriterio3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrabajadorPuestoOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/TrabajadorPuestoOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PruebasCovidOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/PruebasCovidOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CtrlAccionOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/CtrlAccionOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IncidenciaOperacion">
      <soap:operation soapAction="http://tempuri.org/IServicio/IncidenciaOperacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IncidenciaImagen">
      <soap:operation soapAction="http://tempuri.org/IServicio/IncidenciaImagen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarUbigeoCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarUbigeoCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoDocumentoCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoDocumentoCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTrabajadorCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTrabajadorCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTrabajadorPorIdCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerTrabajadorPorIdCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPruebaCovidPorIdCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerPruebaCovidPorIdCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarPuestoTrabajoCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarPuestoTrabajoCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEmpresaCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEmpresaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpresaPorTipoCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEmpresaPorTipoCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoEmpresaCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoEmpresaCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarProgresoEmpresaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarProgresoEmpresaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEmpresaPorIdCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerEmpresaPorIdCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerporDniCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerporDniCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdTrabajadorPorIdUsuarioCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerIdTrabajadorPorIdUsuarioCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionPruebasCovidCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarProgramacionPruebasCovidCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarPruebasCovidCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarPruebasCovidCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarResultadoPruebaCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarResultadoPruebaCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarReporteCovidCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarReporteCovidCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutorizacionUsuarioCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/AutorizacionUsuarioCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCtrlModulosCboCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarCtrlModulosCboCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoEventoCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoEventoCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarCategoriaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarCategoriaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarBloqueCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarBloqueCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEspecificacionCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEspecificacionCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarZonaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarZonaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarUbicacionCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarUbicacionCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarBarreraCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarBarreraCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoBarreraCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoBarreraCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarRangoCumplimientoCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarRangoCumplimientoCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoProgramacionIncidenciaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoProgramacionIncidenciaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarEstadoIncidenciaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarEstadoIncidenciaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarIncidenciasActCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarIncidenciasActCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIncidenciaPorIdCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIncidenciaPorIdParaSolucionCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerIncidenciaPorIdParaSolucionCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerImagenPorIdIncidenciaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerImagenPorIdIncidenciaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarIncidenciaParaSolucionCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarIncidenciaParaSolucionCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoSolucionIncidenciaCsv">
      <soap:operation soapAction="http://tempuri.org/IServicio/ListarTipoSolucionIncidenciaCsv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSolucion">
      <soap:operation soapAction="http://tempuri.org/IServicio/RegistrarSolucion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConstruirCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicio/ConstruirCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://cedepasws.azurewebsites.net/Servicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>