SISFORM_WEB/Connected Services/ServicioWcf/Servicio6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cedepasws.azurewebsites.net/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dominio" />
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="AutenticarUsuarioResult" nillable="true" type="q1:VistaUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarUbigeoResult" nillable="true" type="q2:ArrayOfUbigeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oTrabajador" nillable="true" type="q3:Trabajador" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrabajadorOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajador">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarTrabajadorResult" nillable="true" type="q4:ArrayOfTrabajador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpresaOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oEmpresa" nillable="true" type="q5:Empresa" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpresaOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpresaOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarEmpresaResult" nillable="true" type="q6:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgresoEmpresaOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oProgresoEmpresa" nillable="true" type="q7:ProgresoEmpresa" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgresoEmpresaOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProgresoEmpresaOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgresoEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgresoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarProgresoEmpresaResult" nillable="true" type="q8:ArrayOfProgresoEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio1Operacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oCriterio1" nillable="true" type="q9:Criterio1" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio1OperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio1OperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarCriterio1Result" nillable="true" type="q10:ArrayOfCriterio1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio2Operacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oCriterio2" nillable="true" type="q11:Criterio2" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio2OperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio2OperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarCriterio2Result" nillable="true" type="q12:ArrayOfCriterio2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio3Operacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oCriterio3" nillable="true" type="q13:Criterio3" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criterio3OperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criterio3OperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCriterio3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="ListarCriterio3Result" nillable="true" type="q14:ArrayOfCriterio3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorPuestoOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oTrabajadorPuesto" nillable="true" type="q15:TrabajadorPuesto" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorPuestoOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrabajadorPuestoOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="lstCarga" nillable="true" type="q16:ArrayOfCargaMasiva" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrabajadorCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TrabajadorCargaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oPruebasCovid" nillable="true" type="q17:PruebasCovid" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruebasCovidOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidMasivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidMasivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruebasCovidMasivoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="lstCarga" nillable="true" type="q18:ArrayOfCargaMasiva" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PruebasCovidCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PruebasCovidCargaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CtrlAccionOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oCtrlAccion" nillable="true" type="q19:CtrlAccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CtrlAccionOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CtrlAccionOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidenciaOperacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oIncidencia" nillable="true" type="q20:Incidencia" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidenciaOperacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncidenciaOperacionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidenciaImagen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="IncidenciaImagen" nillable="true" type="q21:Imagen" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidenciaImagenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncidenciaImagenResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeoCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbigeoCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarUbigeoCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDocumentoCboCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDocumentoCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoDocumentoCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTrabajadorCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTrabajadorPorIdCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTrabajador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTrabajadorPorIdCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTrabajadorPorIdCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPruebaCovidPorIdCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPruebaCovid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPruebaCovidPorIdCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerPruebaCovidPorIdCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPuestoTrabajoCboCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPuestoTrabajoCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPuestoTrabajoCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaCboCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEmpresaCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEmpresaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaPorTipoCboCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaPorTipoCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEmpresaPorTipoCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoEmpresaCboCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoEmpresaCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoEmpresaCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgresoEmpresaCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgresoEmpresaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarProgresoEmpresaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresaPorIdCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEmpresaPorIdCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEmpresaPorIdCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerporDniCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerporDniCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerporDniCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdTrabajadorPorIdUsuarioCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIdTrabajadorPorIdUsuarioCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIdTrabajadorPorIdUsuarioCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgramacionPruebasCovidCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProgramacionPruebasCovidCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarProgramacionPruebasCovidCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPruebasCovidCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPruebasCovidCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPruebasCovidCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResultadoPruebaCboCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResultadoPruebaCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarResultadoPruebaCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReporteCovidCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReporteCovidCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarReporteCovidCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizacionUsuarioCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutorizacionUsuarioCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutorizacionUsuarioCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCtrlModulosCboCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCtrlModulosCboCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarCtrlModulosCboCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPruebasCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPruebasCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarPruebasCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorAsignacionCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorAsignacionCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTrabajadorAsignacionCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaGraficoCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaGraficoCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEmpresaGraficoCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPAsignacionMasivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="op" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SPAsignacionMasivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SPAsignacionMasivoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlojamientoCboPorIdCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEmpresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlojamientoCboPorIdCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarAlojamientoCboPorIdCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoEventoCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoEventoCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoEventoCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCategoriaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarCategoriaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBloqueCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBloqueCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarBloqueCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecificacionCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBloque" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEspecificacionCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEspecificacionCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarZonaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarZonaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarZonaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbicacionCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idZona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbicacionCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarUbicacionCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBarreraCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBarreraCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarBarreraCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoBarreraCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBarrera" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoBarreraCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoBarreraCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRangoCumplimientoCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRangoCumplimientoCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarRangoCumplimientoCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoProgramacionIncidenciaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoProgramacionIncidenciaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoProgramacionIncidenciaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstadoIncidenciaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEstadoIncidenciaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEstadoIncidenciaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIncidenciasActCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIncidenciasActCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarIncidenciasActCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorIdCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorIdCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIncidenciaPorIdCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorIdParaSolucionCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorIdParaSolucionCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIncidenciaPorIdParaSolucionCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImagenPorIdIncidenciaCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTipoImagen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerImagenPorIdIncidenciaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerImagenPorIdIncidenciaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIncidenciaParaSolucionCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarIncidenciaParaSolucionCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarIncidenciaParaSolucionCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoSolucionIncidenciaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoSolucionIncidenciaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoSolucionIncidenciaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorBusquedaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTrabajadorBusquedaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTrabajadorBusquedaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaBusquedaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresaBusquedaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarEmpresaBusquedaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoFiltroIncidenciaCsv">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoFiltroIncidenciaCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarTipoFiltroIncidenciaCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorFiltroCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_TipoFilto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Filtro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIncidenciaPorFiltroCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerIncidenciaPorFiltroCsvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSolucion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Dominio" minOccurs="0" name="oSolucion" nillable="true" type="q22:Solucion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarSolucionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarSolucionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstruirCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idIncidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstruirCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConstruirCorreoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>