SISFORM_WEB/Connected Services/ServicioWcf/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigoError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="VistaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Trabajador" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VistaUsuario" nillable="true" type="tns:VistaUsuario" />
  <xs:complexType name="ArrayOfUbigeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ubigeo" nillable="true" type="tns:Ubigeo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUbigeo" nillable="true" type="tns:ArrayOfUbigeo" />
  <xs:complexType name="Ubigeo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubicacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ubigeo" nillable="true" type="tns:Ubigeo" />
  <xs:complexType name="Trabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_TipoDocumento" type="xs:short" />
      <xs:element minOccurs="0" name="FK_ID_UnidadGestion" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Trabajador" type="xs:int" />
      <xs:element minOccurs="0" name="apellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="familiarContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreTrabajador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefonoContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ubigeo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trabajador" nillable="true" type="tns:Trabajador" />
  <xs:complexType name="ArrayOfTrabajador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trabajador" nillable="true" type="tns:Trabajador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrabajador" nillable="true" type="tns:ArrayOfTrabajador" />
  <xs:complexType name="Empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_TipoEmpresa" type="xs:short" />
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Empresa" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="razonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regimenTributario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tieneRuc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPersona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empresa" nillable="true" type="tns:Empresa" />
  <xs:complexType name="ArrayOfEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empresa" nillable="true" type="tns:Empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresa" nillable="true" type="tns:ArrayOfEmpresa" />
  <xs:complexType name="ProgresoEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Empresa" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Progreso" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaVisita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgresoEmpresa" nillable="true" type="tns:ProgresoEmpresa" />
  <xs:complexType name="ArrayOfProgresoEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgresoEmpresa" nillable="true" type="tns:ProgresoEmpresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgresoEmpresa" nillable="true" type="tns:ArrayOfProgresoEmpresa" />
  <xs:complexType name="Criterio1">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_empresa" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Criterio1" type="xs:int" />
      <xs:element minOccurs="0" name="certificadoOperatividadExtintores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contratoAlquiler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="croquisUbicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cuentanConCarnet" type="xs:short" />
      <xs:element minOccurs="0" name="declaracionJuradaAutoAvaluo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estrituraPublica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCaducidadCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCaducidadLicencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpedicionCertificado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpedicionLicencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lugarVisible" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="noCuentanConCarnet" type="xs:short" />
      <xs:element minOccurs="0" name="numeroTrabajadores" type="xs:short" />
      <xs:element minOccurs="0" name="plano" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criterio1" nillable="true" type="tns:Criterio1" />
  <xs:complexType name="ArrayOfCriterio1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Criterio1" nillable="true" type="tns:Criterio1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriterio1" nillable="true" type="tns:ArrayOfCriterio1" />
  <xs:complexType name="Criterio2">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_empresa" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Criterio2" type="xs:int" />
      <xs:element minOccurs="0" name="estadoReal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCaducidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaExpedicion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criterio2" nillable="true" type="tns:Criterio2" />
  <xs:complexType name="ArrayOfCriterio2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Criterio2" nillable="true" type="tns:Criterio2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriterio2" nillable="true" type="tns:ArrayOfCriterio2" />
  <xs:complexType name="Criterio3">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_empresa" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Criterio3" type="xs:int" />
      <xs:element minOccurs="0" name="botiquinPrimerosAuxilios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estadoReal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="señalizacionContraSismos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criterio3" nillable="true" type="tns:Criterio3" />
  <xs:complexType name="ArrayOfCriterio3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Criterio3" nillable="true" type="tns:Criterio3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriterio3" nillable="true" type="tns:ArrayOfCriterio3" />
  <xs:complexType name="TrabajadorPuesto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Empresa" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_PuestoTrabajo" type="xs:short" />
      <xs:element minOccurs="0" name="FK_ID_Trabajador" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TrabajadorPuesto" type="xs:int" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaIngreso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrabajadorPuesto" nillable="true" type="tns:TrabajadorPuesto" />
  <xs:complexType name="ArrayOfCargaMasiva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CargaMasiva" nillable="true" type="tns:CargaMasiva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargaMasiva" nillable="true" type="tns:ArrayOfCargaMasiva" />
  <xs:complexType name="CargaMasiva">
    <xs:sequence>
      <xs:element minOccurs="0" name="ap_mate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ap_pate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fe_naci" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fe_prue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_cont" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_empr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_trab" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nu_dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nu_prueba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tf_cont" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tf_trab" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CargaMasiva" nillable="true" type="tns:CargaMasiva" />
  <xs:complexType name="PruebasCovid">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Trabajador" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_UsuarioCrea" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PruebasCovid" type="xs:int" />
      <xs:element minOccurs="0" name="ejecutado" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPrueba" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroPrueba" type="xs:short" />
      <xs:element minOccurs="0" name="resultadoPrueba" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PruebasCovid" nillable="true" type="tns:PruebasCovid" />
  <xs:complexType name="CtrlAccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_CtrlModulo" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CtrlAccion" type="xs:int" />
      <xs:element minOccurs="0" name="StAdicionar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StEliminar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StListar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StModificar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StReporte" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CtrlAccion" nillable="true" type="tns:CtrlAccion" />
  <xs:complexType name="Incidencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoCumplimiento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_ID_Barrera" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Bloque" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_EmpresaInfractora" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_EmpresaInvolucrada" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Especificacion" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_RangoCumplimiento" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TipoBarrera" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TipoEvento" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TipoProgramacionIncidencia" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TrabajadorReporta" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Ubicacion" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Zona" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Incidencia" type="xs:int" />
      <xs:element minOccurs="0" name="detalleBarrera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detalleHecho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="diasCumplimiento" type="xs:int" />
      <xs:element minOccurs="0" name="fechaHecho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaLimiteSolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagenIncidencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incidencia" nillable="true" type="tns:Incidencia" />
  <xs:complexType name="Imagen">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Incidencia" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_SolucionIncidencia" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TipoImagen" type="xs:int" />
      <xs:element minOccurs="0" name="ID_ImagenIncidencia" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Imagen" nillable="true" type="tns:Imagen" />
  <xs:complexType name="Solucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_TrabajadorSoluciona" type="xs:int" />
      <xs:element minOccurs="0" name="ID_Incidencia" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TipoSolucion" type="xs:int" />
      <xs:element minOccurs="0" name="detalleSolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solucion" nillable="true" type="tns:Solucion" />
  <xs:complexType name="Inspeccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_ID_EstadoInspeccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_ID_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaInspeccion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inspeccion" nillable="true" type="tns:Inspeccion" />
  <xs:complexType name="CheckList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_ID_Empresa" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TipoServicio" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_Trabajador" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_UnidadGestion" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="Puntajes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VersionCheckList" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPuntaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckList" nillable="true" type="tns:CheckList" />
  <xs:complexType name="Capacitacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ID_Empresa" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_EstadoCapacitacion" type="xs:int" />
      <xs:element minOccurs="0" name="FK_ID_TemaCapacitacion" type="xs:int" />
      <xs:element minOccurs="0" name="FechaCapacitacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Usuario" type="xs:int" />
      <xs:element minOccurs="0" name="TrabajadoresCapacitados" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Capacitacion" nillable="true" type="tns:Capacitacion" />
</xs:schema>